<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <% collections.forEach(collection=> { %>
        <h2>Collection: <%= collection.collection_name %>
        </h2>
        <p>Description: <%= collection.collection_description %>
        </p>

        <form action="/collection/<%= collection.collection_id %>/cards" method="GET">
            <button type="submit">View Cards</button>
        </form>
        <% }); %>
</body>

</html>