<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hey, <%= userdata.user_name %>! Here is your collection:</p>

    <form action="/mycollection" method="post">
        <label for="collectionName">Collection Name:</label>
        <input type="text" id="collectionName" name="collectionName" required>
        <label for="collectionDescription">Collection Description:</label>
        <textarea id="collectionDescription" name="collectionDescription" required></textarea>
        <button type="submit">Create Collection</button>
    </form>

    <!-- rneding the collections a user iwht that user id has  -->


    <% if (collectionData.length> 0) { %>
        <h2>Existing Collections:</h2>
        <ul>
            <% collectionData.forEach(collection=> { %>
                <li>
                    <%= collection.collection_name %> - <%= collection.collection_description %> - <a
                                href="/collection/<%= collection.collection_id %>">View Cards</a>
                            <form action="/collection/delete/<%= collection.collection_id %>" method="post">
                                <button type="submit">Delete</button>
                            </form>

                </li>
                <% }) %>
        </ul>
        <% } else { %>
            <p>No collections yet.</p>
            <% } %>




</body>

</html>