<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <% cards.forEach(card=> { %>
        <div class="card">
            <h2>
                <%= card.card_name %>
            </h2>
            <img src="<%= card.image_url %>" class="card-img-top img-right" alt="<%= card.card_name %>">
            <p>Hit Points: <%= card.hitPoints %>
            </p>
            <p>Price: <%= card.price %>
            </p>



            <!-- Add form for adding to wishlist -->
            <form action="/wishlist/add" method="post">
                <input type="hidden" name="cardId" value="<%= card.card_id %>">
                <button type="submit">Add to Wishlist</button>
            </form>
        </div>
        <% }); %>

            <form action="/collection/<%= collectionId %>/rate" method="post">
                <input type="hidden" name="collectionId" value="<%= collectionId %>">
                <label for="rating">Rate this collection:</label>
                <input type="number" name="rating" id="rating" min="1" max="5" required>
                <button type="submit">Submit Rating</button>
            </form>

            <!-- this is the average rating thing going i -->
            <p>Average Rating: <%= averageRating %>
            </p>
</body>

</html>