<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

    </title>
</head>

<body>
    <h1>WISHLIST FOR <%= userdata.user_name %>
    </h1>

    <% wishlistItems.forEach(item=> { %>
        <div class="card">

            <h2>
                <%= item.card_name %>
            </h2>
            <img src="<%= item.image_url %>" class="card-img-top img-right" alt="<%= item.card_name %>">
            <p>Hit Points: <%= item.hitPoints %>
            </p>
            <p>Price: <%= item.price %>
            </p>
            <form action="/wishlist/remove/<%= item.card_id %>" method="post">
                <button type="submit">Remove from Wishlist</button>
            </form>
        </div>
        <% }); %>
</body>

</html>